/*---------------------------------------
    ## Button
---------------------------------------*/

.btn-wrapper {
    display: block;
    .cmn-btn {
        color: var(--paragraph-color);
        font-size: 16px;
        font-weight: 500;
        font-family: var(--body-font);
        display: inline-block;
        border-radius: none;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        @include transition($transition);
        font-weight: 500;
        margin-top: 20px;
        &.btn-one {
            font-size: 15px;
            &:hover {
                color: var(--main-color-one);
            }
        }
    }
}

.btn-subscribe {
    padding: 15px 40px;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s;
}

.submit-btn {
    font-size: 16px;
    outline: none;
    border: none;
    background: var(--main-color-one);
    color: $white;
    padding: 10px 30px;
    cursor: pointer;
    transition: all .3s;
    &:focus {
        outline: none;
    }
}

.btn-view-more {
    font-size: 16px;
    font-weight: 500;
    color: var(--heading-color);
    transition: all .3s;
    &:hover {
        color: var(--main-color-one);
        &::after {
            margin-left: 5px;
        }
    }
    &::after {
        font-family: 'Line Awesome Free';
        font-weight: 900;
        content: "\f061";
        color: var(--main-color-one);
        margin-left: 2px;
        transition: all .3s;
        font-size: 24px;
        position: relative;
        top: 3px;
    }
}

.btn-loadmore {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: var(--heading-color);
    padding: 15px 50px;
    border: 1px solid rgba($black, .1);
    transition: all .3s;
    &:hover {
        background: var(--main-color-one);
        color: $white;
        border-color: inherit;
    }
}

.btn-replay {
    position: relative;
    transition: all .3s;
    &:hover {
        color: var(--main-color-one);
    }
    &::before {
        font-family: 'Line Awesome Free';
        font-weight: 900;
        content: "\f3e5";
        color: var(--main-color-one);
    }
}

.btn-error {}

.color-one {
    background: var(--main-color-one);
    color: $white;
}

.btn-rounded {
    border-radius: 30px;
}

.no-bg {
    background: none !important;
}

.desktop-center {
    text-align: center;
}

.desktop-left {
    text-align: left;
}

.desktop-right {
    text-align: right;
}