/* Categories */

.categories-contents-inner {
    margin-top: 40px;
}

.categories-lists {
    &.black-theme {
        .single-list {
            background: $Vulcan;
            .follow-para {
                color: $white;
            }
            .followers {
                color: $white;
            }
        }
    }
    .single-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 20px;
        padding: 10px 20px;
        background: #F2F3F5;
        .follow-para {
            font-size: 18px;
            line-height: 28px;
            color: var(--heading-color);
        }
        .followers {
            font-size: 18px;
            line-height: 28px;
            color: var(--heading-color);
        }
    }
}