/* Search Popup */

.search-open {
    font-size: 24px;
    cursor: pointer;
    margin-left: 40px;
    position: relative;
    z-index: 9;
    transition: all .3s;
    &:hover {
        color: var(--main-color-one);
    }
}

.search-area {
    position: relative;
}

.search-bar {
    position: absolute;
    top: 60%;
    right: 0;
    left: 0;
    height: auto;
    z-index: 9;
    width: 95%;
    margin: 0 auto;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;
    &.active {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }
    &.black-theme {
        background: $Vulcan;
        .menu-search-form {
            .search-close {
                background: var(--main-color-two);
                border: 1px solid rgba($main-color-two, .5);
                color: $white;
                top: -52px;
                &:hover {
                    background: $Vulcan;
                }
            }
            .item-search {
                color: var(--light-color-two);
                box-shadow: 0 0 10px rgba($white, .1);
                border: 1px solid rgba($white, .3);
                &::placeholder {
                    color: var(--light-color-two);
                }
                &:focus {
                    border-color: rgba($main-color-two, .4);
                    box-shadow: 0 0 15px rgba($main-color-two, .3);
                }
            }
            button {
                background: var(--main-color-two);
            }
        }
    }
    .menu-search-form {
        position: relative;
        z-index: 9;
        width: 100%;
        margin: 0 auto;
        border-radius: 0px;
        .search-close {
            position: absolute;
            right: 0px;
            top: -50px;
            font-size: 30px;
            cursor: pointer;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            background: #F2F3F5;
            padding: 2px 10px;
            &:hover {
                color: #fff;
                background: var(--main-color-one);
            }
        }
        .item-search {
            width: 100%;
            height: 70px;
            background: none;
            border: 1px solid rgba($black, .2);
            outline: none;
            text-transform: capitalize;
            padding: 10px 30px;
            padding-right: 70px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 0px;
            color: var(--paragraph-color);
            &:focus {
                border-color: rgba($main-color, .2);
                box-shadow: 0 0 10px rgba($main-color, .1);
            }
            &::placeholder {
                color: var(--paragraph-color);
                font-size: 14px;
            }
        }
        button {
            position: absolute;
            right: 0;
            height: 100%;
            padding: 0 30px;
            background: var(--main-color-one);
            border: 0;
            outline: none;
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            cursor: pointer;
        }
    }
}


/* .close-toggle-body {
    height: 100%;
    width: 100%;
    left: 100%;
    top: 0;
    position: fixed;
    z-index: 99;
    cursor: zoom-out;
    transition: all .8s;
    &.open {
        background: rgba($black, .01);
        left: 0;
        border-radius: 0;
    }
} */