/* Trendy */

.trendy-area {}

.trendy-wrapper {
    margin: 40px 0 20px;
}

.single-trendy {
    &.style-02 {
        .trendy-contents {
            .popular-stories-tag {
                margin-bottom: 0;
                margin-top: 20px;
            }
            .trendy-title {
                font-size: 28px;
                line-height: 38px;
                margin-top: 20px;
            }
        }
    }
    .trendy-thumb {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .trendy-contents {
        .popular-stories-tag {
            margin-bottom: 30px;
            margin-top: 30px;
        }
        .trendy-title {
            font-family: var(--heading-font-two);
            font-weight: 500;
            line-height: 54px;
            transition: all .3s;
            &:hover {
                color: var(--main-color-one);
            }
        }
    }
}